* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 576px) {
  .row {
    margin-inline: 0 !important;
  }
}

@media (max-width: 425px) {
  .br-sm {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .br-lg {
    display: none;
  }
}

.news-homepage-main {
  font-family: "Inter", sans-serif;
  padding-bottom: 50px;
}
.news-homepage-main .container header {
  margin-top: clamp(1.25rem, 6vw, 3rem);
  margin-bottom: clamp(1rem, 4.5vw, 2rem);
}
.news-homepage-main .container header nav .logo img {
  width: clamp(30px, 4.4vw, 65px);
}
.news-homepage-main .container header nav .links ul {
  gap: clamp(0.8rem, 2.2vw, 2rem);
}
.news-homepage-main .container header nav .links ul li {
  list-style-type: none;
}
.news-homepage-main .container header nav .links ul li a {
  color: hsl(236deg, 13%, 42%);
  font-size: clamp(10px, 1.1vw, 1rem);
}
.news-homepage-main .container .main {
  margin-bottom: clamp(1rem, 3.3vw, 3rem);
}
@media (max-width: 767px) {
  .news-homepage-main .container .main .content {
    padding-inline: 0 !important;
  }
}
@media (max-width: 576px) {
  .news-homepage-main .container .main .content .hero-content div {
    padding-inline: 0 !important;
  }
}
@media (max-width: 767px) {
  .news-homepage-main .container .main .content .hero-content {
    margin-bottom: clamp(2rem, 5.5vw, 5rem);
  }
}
.news-homepage-main .container .main .content .hero-content h2 {
  font-size: clamp(1.2rem, 3.3vw, 3rem);
  font-weight: 800;
  margin-bottom: 0;
}
.news-homepage-main .container .main .content .hero-content p {
  font-size: clamp(0.5rem, 1.2vw, 15px);
  color: hsl(236deg, 13%, 42%);
}
.news-homepage-main .container .main .content .hero-content .read-more {
  position: absolute;
  bottom: 0%;
}
@media (max-width: 992px) {
  .news-homepage-main .container .main .content .hero-content .read-more {
    bottom: -10%;
  }
}
@media (max-width: 767px) {
  .news-homepage-main .container .main .content .hero-content .read-more {
    bottom: 0%;
  }
}
@media (max-width: 576px) {
  .news-homepage-main .container .main .content .hero-content .read-more {
    bottom: -15%;
  }
}
.news-homepage-main .container .main .content .hero-content .read-more a {
  color: #fff;
  background: hsl(5deg, 85%, 63%);
  letter-spacing: clamp(2px, 0.35vw, 4px);
  font-size: clamp(0.5rem, 1vw, 14px);
  padding-block: clamp(5px, 0.9vw, 12px);
  padding-inline: clamp(12px, 2.2vw, 30px);
  font-weight: 700;
}
.news-homepage-main .container .main .aside {
  background: hsl(240deg, 100%, 5%);
}
@media (max-width: 767px) {
  .news-homepage-main .container .main .aside .container {
    padding-inline: 0;
  }
}
.news-homepage-main .container .main .aside h3 {
  margin-block: clamp(0.7rem, 2.2vw, 2rem);
  color: hsl(35deg, 77%, 62%);
  font-size: clamp(1rem, 2.75vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 2px;
}
.news-homepage-main .container .main .aside .content {
  padding-bottom: clamp(0.6rem, 1.3vw, 1.5rem);
  margin-bottom: clamp(0.6rem, 1.65vw, 1.5rem);
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
}
.news-homepage-main .container .main .aside .content:last-child {
  border-bottom: none;
}
.news-homepage-main .container .main .aside .content h5 {
  color: #fff;
  font-weight: 700;
  margin-bottom: clamp(4px, 0.8vw, 10px);
  font-size: clamp(12px, 1.5vw, 20px);
}
.news-homepage-main .container .main .aside .content p {
  margin: 0;
  color: hsl(236deg, 13%, 42%);
  font-size: clamp(10px, 1.1vw, 16px);
}
@media (max-width: 767px) {
  .news-homepage-main .container .article .row {
    gap: 1rem;
  }
}
.news-homepage-main .container .article .suggested-content {
  gap: clamp(0.6rem, 1.65vw, 1.5rem);
}
@media (max-width: 767px) {
  .news-homepage-main .container .article .suggested-content {
    padding-inline: 0 !important;
  }
}
.news-homepage-main .container .article .suggested-content:last-child {
  padding-right: 0px !important;
}
.news-homepage-main .container .article .suggested-content .article-image img {
  width: clamp(40px, 7vw, 100px);
  height: clamp(52px, 9vw, 130px);
  min-height: 100% !important;
}
.news-homepage-main .container .article .suggested-content .article-content .number {
  font-weight: 700;
  font-size: clamp(0.8rem, 2.2vw, 2rem);
  color: hsl(233deg, 8%, 79%);
  margin-bottom: clamp(0.2rem, 0.55vw, 0.5rem);
}
.news-homepage-main .container .article .suggested-content .article-content .heading {
  font-size: clamp(0.5rem, 1.3vw, 1.2rem);
  font-weight: 800;
}
.news-homepage-main .container .article .suggested-content .article-content .text {
  color: hsl(236deg, 13%, 42%);
  font-size: clamp(10px, 1.1vw, 1rem);
  margin: 0;
}/*# sourceMappingURL=style.css.map */